@import url(_reset.css);
@import url(_variaveis.css);

html{
    height: 100vh;
    overflow: hidden;
}

body{
    font-family: 'Overpass', sans-serif;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container{
    padding-right: 2rem;
    padding-left: 2rem;
}